{
  "printWidth": 80,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-astro"],
  "astroAllowShorthand": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
